// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
#homepage {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/bg-homepage.jpg') center;
  background-size: cover;
}

#register-logo {
  font-size: 180px;
  margin: 20px 50px;
}

#gamepage {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/bg-gamepage.jpg') center;
  background-size: cover;
}

#game,
#profile {
  min-height: 93vh;
}

#register,
#profile-error {
  min-height: 84vh;
  margin-top: 80px;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
}

// Gamepage

#gamepage {
  height: 100%;
  overflow: hidden;
}

// Start Screen
#start-screen {
  height: 350px;

  & > div {
    transition: all 0.2s ease-out;
    width: 90%;
    height: 40px;
    position: relative;

    &:hover {
      width: 98%;
      height: 48px;
      
    }
  }
}


#test {
  & > div {
    height: 40px;
    width: 200px;
    background: red;
    transition: width 2s ease-out;

    &:hover {
      width: 300px;
    }
  }
}
//

#gameboard div[class~="col"] {
  height: 60px;
}

@include media-breakpoint-up(sm) {
  #gameboard div[class~="col"] {
    height: 70px;
  }
}

@include media-breakpoint-up(md) {
  #gameboard div[class~="col"] {
    height: 40px;
  }
}

@include media-breakpoint-up(lg) {
  #gameboard div[class~="col"] {
    height: 44px;
  }
}

@include media-breakpoint-up(xl) {
  #gameboard div[class~="col"] {
    height: 46px;
  }
}

@include media-breakpoint-up(xxl) {
  #gameboard div[class~="col"] {
    height: 46px;
  }
}
